SECRET_KEY=REPLACE_WITH_SECRET_KEY
DATABASE_URL=REPLACE_WITH_DATABASE_URL
STRIPE_SECRET_KEY=REPLACE_WITH_STRIPE_SECRET
STRIPE_PUBLISHABLE_KEY=REPLACE_WITH_STRIPE_PUBLISHABLE
STRIPE_WEBHOOK_SECRET=REPLACE_WITH_STRIPE_WEBHOOK
ENCRYPTION_KEY=REPLACE_WITH_ENCRYPTION_KEY
CORS_ORIGINS=*
